<div class="auth shadow">
  <div *ngIf="!hideCaptcha; else verifyCodeTmpl">
    <p>Hi, you need to login with your phone so I can recognize you</p>
    <input class="form-control" name="phone" placeholder="Enter phone number" [(ngModel)]="phone"/>
    <div id="recaptcha-container"></div>

  </div>
  <ng-template #verifyCodeTmpl>
    <p>You've now received a code by SMS</p>
    <input class="form-control" name="verificationCode" type="text" placeholder="Enter the code"
           [(ngModel)]="verificationCode"/>
    <button class="verify" (click)="verifyCode()">verify</button>
  </ng-template>

  <button class="verify" (click)="authenticate()" [hidden]="hideCaptcha">verify</button>

</div>
