.auth {
  padding: 20px;
  background: white;
  border-radius: 5px;
}

@media (max-width: 500px) {
  .auth {
    width: 95vw;
  }
}

@media (min-width: 501px) {
  .auth {
    width: 400px;
  }
}

.verify {
  border: solid 2px #eb6e80;
  color: #eb6e80;
  margin-top: 15px;
  background: white;
  text-transform: uppercase;
  border-radius: 4px;
  padding: 3px 10px;
}

.verify:hover {
  border: solid 2px #eb6e80;
  color: white;
  background: #eb6e80;
}

.verify:focus {
  outline: none;
}

.auth p {
  color: #666666;
}

#recaptcha-container {
  margin-top: 1em;
}
