<div *ngIf="!lists$; else listViewer" layout="column" layout-align="center center">
  <p>
    You have not created any list yet, let's change that!
  </p>
  <button class="new-list" (click)="newList()">NEW LIST</button>
</div>
<ng-template #listViewer>
  <div *ngFor="let list of lists$ | async" class="shadow list-item" layout="row" layout-align="space-between">
    <div layout="column" flex="90" (click)="showList(list.id)">
      <p class="list-title">{{list.items.length}} items</p>
      <div layout="row">
        <p class="item-list" *ngFor="let item of list.items; let idx = index">{{item.quantity}} x {{item.label}}
          <span *ngIf="idx < list.items.length -1">, </span>
        </p>
      </div>
    </div>
    <img src="../../../assets/icons/duplicate.svg" class="duplicate" (click)="duplicate(list.id)" />
  </div>
  <button class="new-list shadow mb-3" (click)="newList()">New List</button>
</ng-template>
