p {
  color: white;
  margin-bottom: 0;
  font-weight: 400;
}

.new-list {
  border: 0;
  border-radius: 3px;
  color: #363636;
  font-size: 14px;
  font-weight: 500;
  background: #FFEB75;
  padding: 7px 20px;
  margin-top: 20px;
}

.list-item {
  background: white;
  padding: 10px;
  cursor: pointer;
  color: #363636;
  border-radius: 4px;
  margin-bottom: 10px;
}

@media (max-width: 990px) {
  .list-item {
    width: 90vw;
    margin: 10px auto;
  }
}

@media (min-width: 991px) {
  .list-item {
    width: 40vw;
    margin: 10px auto;
  }
}

p {
  color: #363636;
  margin-bottom: 0;
}

.date {
  color: #999999;
}

.list-item {
  font-size: 12px;
  color: #999999;
}

.list-title {
  color: #363636;
  font-weight: 600;
  font-size: 14px;
  text-transform: uppercase;
}

.duplicate {
  height: 20px;
}

