.item {
  background: white;
  border-radius: 5px;
  padding: 15px;
  margin: 10px auto;
}

@media (min-width: 501px) {
  .item {
    width: 500px;
  }
}

@media (max-width: 500px) {
  .item {
    width: 95vw;
  }
}

button {
  border: 0;
  padding: 10px 20px;
  border-radius: 3px;
}

.not-added {
  background: #999999;
  color: #666666;
}

.purchased {
  background: #00A6FB;
  color: white;
}

.label {
  text-transform: uppercase;
  font-weight: 300;
  margin-bottom: 0;
}

img {
  height: 25px;
}

.delete-btn {
  cursor: pointer;
}

.purchase {
  padding: 3px;
  height: 20px;
  width: 20px;
}
