<div class="item shadow">
  <div layout="row" layout-align="space-between center" *ngIf="readonly; else editable">
    <p class="label">{{item.quantity}} x {{item.label}}</p>
    <input type="checkbox" class="purchase" [(ngModel)]="item.purchased" (change)="toggleStatus($event)">
  </div>

  <ng-template #editable>
    <div layout="row" layout-align="space-between center">
      <select class="form-control" flex="15" [(ngModel)]="item.quantity">
        <option *ngFor="let quantity of quantities">{{quantity}}</option>
      </select>
      <input class="form-control" title="label" name="label" [(ngModel)]="item.label" flex="70">
      <div class="delete-btn" (click)="delete()">
        <img src="../../../../assets/icons/delete_red.svg" />
      </div>
    </div>
  </ng-template>
</div>
