.static {
  position: fixed;
  z-index: 1000;
}

.centered {
  top: 50%;
  left: 45%;
}

.bottom {
  right: 10px;
  bottom: 10px;
}

.add-btn {
  border: 0;
  border-radius: 100%;
  color: #363636;
  background: #FFEB75;
  padding: 10px;
  height: 50px;
  width: 50px;
  img {
    height: 24px;
  }
}

.disabled {
  background-color: whitesmoke;
  cursor: not-allowed;
}

.save-btn {
  background-image: linear-gradient(-180deg, #FF0028 0%, #F90488 100%);
  color: white;
  padding: 5px 10px;
  border-radius: 3px;
}

.link {
  text-align: center;
  color: white;
  cursor: pointer;
}

.share {
  width: 100vw;
  position: fixed;
  background: white;
  bottom: 0;
  left: 0;
  z-index: 99;
}

@media (min-width: 990px) {
  .share {
    width: 50vw;
    left: 25vw;
    border-radius: 5px 5px 0 0;
  }
}

.phone-input {
  padding: 10px;
  border: none;
  border-right: solid 1px #999999;
}

input, div, button:focus {
  outline: none;
}

input {
  color: #363636;
}
