<div *ngIf="list">
  <div class="static bottom">
    <div layout="row" *ngIf="!isWhatsapp ; else whatsapp">
      <button class="add-btn shadow" (click)="addItem()" [disabled]="disableAdding" [ngClass]="{'disabled': disableAdding}">
        <img src="../../../../assets/icons/add.svg" />
      </button>
      <button class="add-btn bottom ml-3 shadow" (click)="save()" [disabled]="disableAdding" [ngClass]="{'disabled': disableAdding}">
        <img src="../../../../assets/icons/save.svg" />
      </button>
      <button class="add-btn ml-3 shadow" (click)="share()" [disabled]="!canShare" [ngClass]="{'disabled': !canShare}">
        <img src="../../../../assets/icons/whatsapp.svg" />
      </button>
    </div>
    <ng-template #whatsapp>
      <div layout="row" class="share shadow p-3 animated fadeInUp" layout-align="space-between center">
        <input name="phone" class="phone-input" placeholder="enter phone with Area code" [(ngModel)]="phoneToShare" flex="80">
        <div layout="row" layout-align="space-between center">
          <img src="../../../../assets/icons/cancel.svg" class="mr-3 ml-3" (click)="cancelWhatsapp()" />
          <img src="../../../../assets/icons/check.svg" (click)="openWhatsapp()" />
        </div>
      </div>
    </ng-template>
  </div>
  <p class="link" *ngIf="canShare" (click)="showList()">Link to the list: localhost:4200/{{list.id}}</p>
  <div *ngFor="let item of list.items; let idx = index" class="animated fadeInLeft">
    <app-item-card [item]="item" [readonly]="false" (deleteItem)="deleteItem($event, idx)"></app-item-card>
  </div>
</div>
